@import "src/variables";

header {
  position: absolute;
  width: 100%;
  height: 70px;
}

.menu-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.logo {
  height: 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.4);
  color: $color-text-light;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: $color-text-light;
    padding: 0 1em;
    transition: background-color 0.4s;
  }

  > *:hover {
    background-color: $color-primary;
  }

  img {
    width: 60px;
  }
}

.actions {
  display: flex;
  align-items: center;

  > * {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
    border-left: solid 1px rgba(255, 255, 255, 0.4);
    transition: background-color 0.4s;
    color: $color-text-light;
  }

  > a:hover {
    background-color: $color-primary;
  }

  a {
    text-decoration: none;
  }
}

.button {
  &:hover {
    background-color: $color-primary;
  }
}

.icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
