<header>
  <div class="menu-bar">
    <div class="logo">
      <a href="">BN</a>
    </div>
    <div class="actions" *ngIf="afAuth.authState | async as user; else showLogin">
      <div>Logged In</div>
      <a href="" (click)="logout($event)">LOGOUT</a>
    </div>
  </div>
</header>

<!-- <div *ngIf="afAuth.authState | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div> -->

<ng-template #showLogin>
  <div class="actions">
    <a href="" (click)="login($event)">LOGIN &amp; ユーザー登録</a>
  </div>
</ng-template>
