<div class="hero-wrapper">
  <div class="head-message">
      <h1 class="mat-display-1 headline">Birthday Notification</h1>
      <h3 class="subheading-2 subheading">君は生涯よくこの授業院というののためを思うたです。いくら今日を中止ようも至極この相違ででだけをなってみるなにもふりよしないですて、そうにはしでならざるなけれ。世の中にありですのはきっと時間を同時になけれでない。</h3>
  </div>
</div>

<section class="top-section">
  <h1 class="head">おすすめ</h1>
  <div class="character-list">
      <mat-card class="character-item" *ngFor="let character of characters | async" [appBackImg]="character.image">
          <div class="character-info">
            <span class="character-name">{{ character.name }}</span>
          </div>
        </mat-card>
  </div>
</section>

<!-- <div *ngIf="afAuth.authState | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div> -->

<!-- <ng-template #showLogin>
  <p>Please login.</p>
  <button mat-raised-button color="primary" (click)="login()">Login with Google</button>
</ng-template> -->

<footer class="footer-main">
  <div class="links">
    <a href="https://github.com/INORIA/birthday-notify-service" target="_blank">
        <img src="/assets/images/GitHub-Mark-Light-120px-plus.png" alt="">
    </a>
  </div>

  <div class="copyright">
    <span class="mark">©</span>
    <span class="text"> GFB</span>
  </div>
</footer>
