<main>
  <section class="hero">
    <div class="overlay">
      <div class="blurred"></div>
    </div>

    <h1 class="headline">作品新規登録</h1>
  </section>

  <section class="work-info">
    <form action="" #workForm="ngForm" (submit)="onSubmit($event)">
      <div class="work">
        <div class="description">
          <ul class="main">
            <li class="work">
              <mat-select placeholder="カテゴリを選択" name="work" id="" [(ngModel)]="model.category">
                <mat-option value="">カテゴリ無し</mat-option>
                <mat-option *ngFor="let category of categories | async" [value]="category.id">{{ category.name }}</mat-option>
              </mat-select>
            </li>
            <li class="name">
              <mat-form-field class="input">
                <input type="text" name="cname" matInput placeholder="作品名" required [(ngModel)]="model.name">
              </mat-form-field>
            </li>
          </ul>
          <div class="sub">
            <button
              type="submit"
              class="register-button"
              mat-raised-button
              color="primary"
              [disabled]="!(workForm.form.valid && formState === FormStates.WaitForSubmit)"
            >
              <mat-spinner
                diameter="40"
                class="loader"
                color="primary"
                *ngIf="formState === FormStates.Submitting && submitPercent === 0"
              ></mat-spinner>
              <mat-progress-spinner
                diameter="40"
                class="loader"
                color="primary"
                mode="determinate"
                [value]="submitPercent"
                *ngIf="formState === FormStates.Submitting || formState === FormStates.Submitted"
              ></mat-progress-spinner>
              登録
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
