@import "src/variables";

main {
  min-height: calc(100vh - 60px);
  overflow: hidden;
}

.hero {
  position: relative;
  width: 100%;
  // height: 500px;
  border-top: 1px solid transparent;
  margin-top: -1px;
}

.character-info {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 8rem;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.blurred {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  background-position: top center;
  background-size: cover;
  transform: scale(1.1);
}

.character {
  top: 40%;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: $content-max;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $view-sm) {
    flex-wrap: nowrap;
    width: calc(100% - 40px);
  }
}

dt {
  width: 100%;

  @media (min-width: $view-sm) {
    width: auto;
  }
}

.image {
  width: calc(100% - 20px);
  height: 400px;
  margin: 10px;
  text-indent: -500px;
  overflow: hidden;
  background-position: top center;
  background-size: cover;

  @media (min-width: $view-sm) {
    width: 400px;
    height: 500px;
    margin: 0;
  }
}

.description {
  width: calc(100% - 60px);
  margin: 20px 30px;

  @media (min-width: $view-sm) {
    width: 100%;
    margin: 10px;
    margin-left: 4rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.main {
  width: 100%;
  color: $color-text;
  margin-top: 25px;
  list-style: none;
  padding: 0;

  .work {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 1.3rem;
  }

  .ruby {
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .birthday {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  @media (min-width: $view-sm) {
    color: $color-text-light;
    margin-top: 4rem;

    .work {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .name {
      font-size: 2rem;
    }

    .ruby {
      font-size: 1rem;
      letter-spacing: 2px;
    }

    .birthday {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
}

.sub {
  width: 100%;
  margin-bottom: 4rem;
}
