@import '~@angular/material/theming';

@include mat-core();
@import 'default-theme.scss';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.default-theme {
  @include angular-material-theme($default-theme);
}

.mat-app-background {
  display: block;
  width: 100%;
  height: 100%;
}
