// Break points

$break-small: 320px;



// Sizes

$content-max: 1250px;
$height-footer: 60px;



// Colors

$color-primary: #ef4274;
$color-bg: #f4f4f4;

$color-text: #888;
$color-text-light: #efefef;


