<section class="top-hero">
  <div class="hero-wrapper">
    <div class="head-message">
      <h1 class="mat-display-1 headline">Birthday Notifier</h1>
      <h2 class="subheading-2 subheading">君は生涯よくこの授業院というののためを思うたです。いくら今日を中止ようも至極この相違ででだけをなってみるなにも</h2>
    </div>
  </div>
</section>

<section class="top-section">
  <h1 class="head">キャラクターリスト</h1>
　  <div class="character-list">
    <mat-card class="character-item" *ngFor="let character of characters | async" [appBackImg]="character.image" [routerLink]="['/', character.id]">
      <div class="character-info">
        <span class="character-name">{{ character.name }}</span>
      </div>
    </mat-card>
  </div>
</section>

<!-- <section class="top-section">
  <h1 class="head">headline 2</h1>
  <div>
    コンテンツ
  </div>
</section> -->
