@import "src/variables.scss";

main {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 70px;

    background-image: url(/assets/images/MIZUHO1796007_TP_V.jpg);
    background-size: cover;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}

section {
  max-width: $content-max;
  margin: 0 auto;
}

.config-title {
  font-size: 1.2rem;
}

.config-view {
  margin: 0 30px;
}

.settings-section {
  margin: 40px auto;
}

.email-field {
  width: 100%;
  max-width: 400px;
}

.email-register-button {
  display: block;
  margin-top: 10px;
}
